@use "@angular/material" as mat;
@use "../../../styles/styles/typography" as typography;
@import "../../../styles/material/theme";
@import "../../../styles/styles/mixin";
@import "../../../styles/styles/spacing";

mat-toolbar {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;

  .header-left {
    display: flex;
    align-items: center;
    mat-icon {
      cursor: pointer;
      display: none;

      @include small-tablet {
        display: block;
      }

      @include mobile {
        display: block;
      }
    }

    .header-title,
    .header-title:visited,
    .header-title:hover,
    .header-title:active {
      margin: 0;
      text-decoration: none;
      color: mat.get-color-from-palette($primary, 700);
      @include mat.typography-level(
        typography.$custom-typography,
        "headline-1"
      );
      @include mobile {
        @include mat.typography-level(
          typography.$custom-typography,
          "headline-2"
        );
      }
    }

    .header-actions {
      cursor: pointer;
    }
  }
}
