<div class="authors-list-container">
  <div class="author-list">
    <app-author-item
      *ngFor="let authorEl of authors$ | async"
      class="author-item"
      [author]="authorEl"
      [index]="authorEl.id"
    ></app-author-item>
  </div>
</div>

<div class="skeleton-list-container">
  <div class="skeleton-list">
    <div class="skeleton-item" *ngFor="let i of [1, 2, 3, 4]">
      <div class="skeleton"></div>
    </div>
  </div>
</div>

<mat-paginator
  class="paginator"
  [length]="authorsCount"
  [pageSize]="pageSize"
  [pageSizeOptions]="[4, 8]"
  (page)="onPageChanged($event)"
>
</mat-paginator>
