@use "./typography" as typography_config;
@use "@angular/material" as mat;
@include mat.core();
@import "./variable";

$primary-palette: (
  50: #bcdcfe,
  100: #a6d0fd,
  200: #8fc4fc,
  300: #75b7fe,
  400: #5eabfc,
  500: #429cfc,
  600: #247ede,
  700: #1265bd,
  800: #06509f,
  900: #023d7d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$accent-palette: (
  50: #e4f4ff,
  100: #d2ecfe,
  200: #a5dbfe,
  300: #78c8fd,
  400: #4bb7fd,
  500: #1ea5fc,
  600: #1884ca,
  700: #126297,
  800: #0c4265,
  900: #062032,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$warn-palette: (
  50: #fffde9,
  100: #faf6ce,
  200: #f7f1b0,
  300: #faf29a,
  400: #dfd55f,
  500: #d0c229,
  600: #c4b513,
  700: #c1b214,
  800: #ac9e0c,
  900: #988c04,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$success-palette: (
  50: #e9ffed,
  100: #d5fde4,
  200: #bdfed5,
  300: #9fffc2,
  400: #80fcae,
  500: #62f297,
  600: #47db7d,
  700: #30bb63,
  800: #199e4a,
  900: #098537,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$error-palette: (
  50: #e9ffed,
  100: #d5fde4,
  200: #bdfed5,
  300: #fcafaf,
  400: #fc9292,
  500: #fd7575,
  600: #fd5757,
  700: #f23b3b,
  800: #da2121,
  900: #c10b0b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$primary: mat.define-palette($primary-palette);
$accent: mat.define-palette($accent-palette);
$warn: mat.define-palette($warn-palette);
$success: mat.define-palette($success-palette);
$error: mat.define-palette($error-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
      success: $success,
      error: $error,
    ),
    typography: typography_config.$custom-typography,
  )
);

@include mat.all-component-themes($my-theme);
@include mat.typography-hierarchy(typography_config.$custom-typography);
