@use "@angular/material" as mat;
@import "../../../styles/material/theme";
@import "../../../styles/styles/variable";

mat-nav-list {
  padding: 0;
}

.sidebar-link {
  span {
    font-size: $font-size-m;
  }
}

.list-item-active {
  span {
    color: mat.get-color-from-palette($primary, 700);
  }
}
