<div class="books-list-container" *ngIf="books$ | async as books">
  <div class="book-list mt-4">
    <app-book-item
      *ngFor="
        let BookEl of books.data
          | slice : pageIndex * pageSize : (pageIndex + 1) * pageSize
      "
      class="book-item"
      [book]="BookEl"
      [index]="BookEl.id"
    ></app-book-item>
  </div>
  <mat-paginator
    class="paginator"
    [length]="books.pagination?.totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[3, 6]"
    (page)="onPageChanged($event)"
  >
  </mat-paginator>
</div>
