*::-webkit-scrollbar {
  width: 7px;
  color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
  border-radius: 5px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .book-list {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    margin-top: 10px;

    .book-item {
      display: inline-block;
    }
  }

  .paginator {
    height: 10%;
  }
}
