<div class="books-list-container">
  <div class="book-list">
    <app-book-item
      *ngFor="
        let BookEl of books
          | slice : pageIndex * pageSize : (pageIndex + 1) * pageSize
      "
      class="book-item"
      [book]="BookEl"
      [index]="BookEl.id"
    ></app-book-item>
  </div>
  <mat-paginator
    class="paginator"
    [length]="100"
    [pageSize]="pageSize"
    [pageSizeOptions]="[3, 6]"
    aria-label="Select page"
    (page)="pageIndex = $event.pageIndex"
  >
  </mat-paginator>
</div>
