@use "@angular/material" as mat;
@import "../../styles/styles/typography";
@import "../../styles/material/theme";
@import "../../styles/styles/spacing";
@import "../../styles/styles/mixin";
@import "../../styles/styles/variable";

.authors-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .authors-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .back-btn {
      display: inline-block;
      justify-content: start;
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: mat.get-color-from-palette($primary, 700);

        &:hover {
          color: mat.get-color-from-palette($primary, 500);
        }

        span {
          @include small-tablet {
            display: none;
          }

          @include mobile {
            display: none;
          }
        }
      }
    }

    .author-actions__left {
      display: flex;
      align-items: center;
      justify-content: end;

      flex: 1;
      .search-form {
        min-width: 150px;
        max-width: 300px;
        height: 70px;
        margin-top: 12px;

        ::ng-deep .mat-mdc-text-field-wrapper {
          height: 36px !important;
        }

        ::ng-deep
          .mat-mdc-text-field-wrapper.mdc-text-field--outlined
          .mat-mdc-form-field-infix {
          min-height: 36px !important;
          padding: 0 !important;
        }

        ::ng-deep .mdc-text-field__input {
          height: 36px !important;
        }

        ::ng-deep
          .mat-mdc-text-field-wrapper
          .mat-mdc-form-field-flex
          .mat-mdc-floating-label {
          top: 20px !important;
        }
      }

      .add-btn {
        display: flex;
        justify-content: end;

        mat-icon {
          flex: 1;
        }

        span {
          @include mobile {
            display: none;
          }
        }
      }
    }
  }

  app-authors-list {
    height: 100%;
  }
}
