@use "@angular/material" as mat;
@import "../../../../styles/material/theme";
@import "../../../../styles/styles/mixin";
@import "../../../../styles/styles/spacing";
@import "../../../../styles/styles/variable";

.row {
  @include small-tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }

  .book-cover {
    display: block;
    margin-left: auto;
    margin-right: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: 500px;
    }

    @include desktop {
      @include col-lg(6);
    }
    @include tablet {
      @include col-md(3);
    }
  }

  .book-table {
    margin: 0 auto;

    @include desktop {
      @include col-lg(6);
    }
    @include tablet {
      @include col-md(3);
    }

    table {
      border: 1px solid $border-table-color;
      border-radius: 5px;

      th {
        font-weight: 500;
        background-color: mat.get-color-from-palette($primary, 700);
        color: mat.get-contrast-color-from-palette($primary, 700);
      }
    }
  }
}
