@use "@angular/material" as mat;
@import "../../../../styles/material/theme";
@import "../../../../styles/styles/mixin";
@import "../../../../styles/styles/spacing";
@import "../../../../styles/styles/variable";

.row {
  @include small-tablet {
    flex-direction: column;
  }

  @include mobile {
    flex-direction: column;
  }

  .author-cover {
    display: block;
    width: 65%;

    @include small-tablet {
      margin: 0 auto;
      width: 90%;
    }

    @include mobile {
      margin: 0 auto;
      width: 90%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      max-height: 450px;
    }
  }

  .author-table {
    width: 35%;
    min-width: 250px;

    @include small-tablet {
      margin: 0 auto;
      width: 90%;
    }

    @include mobile {
      margin: 0 auto;
      width: 90%;
    }

    table {
      border: 1px solid $border-table-color;
      border-radius: 5px;

      th {
        font-weight: 500;
        background-color: mat.get-color-from-palette($primary, 700);
        color: mat.get-contrast-color-from-palette($primary, 700);
      }
    }
  }

  &.author-books {
    flex-direction: column;
    .author-books__introduction {
      margin: 0;
    }

    .author-books__list {
      display: flex;
      flex-wrap: wrap;

      .book-item {
        display: inline-block;
        padding: 5px;
        width: fit-content;
        height: fit-content;
        @include desktop {
          @include col-lg(3);
        }

        @include tablet {
          @include col-md(2);
        }

        @include small-tablet {
          @include col-md(3);
        }

        @include mobile {
          @include col-sm(4);
        }
      }
    }
  }
}
