@import "styles/styles/mixin";
@import "styles/styles/spacing";

.container {
  @include full-size;

  .header {
    position: fixed;
    z-index: 100;

    app-header {
      width: 100%;
    }
  }

  .body {
    height: 100%;
    margin-top: 4rem;

    .sidebar {
      position: sticky;

      @include desktop {
        @include col-lg(2);
      }

      @include tablet {
        @include col-md(1);
      }

      @include small-tablet {
        @include col-md(0);
      }
      @include mobile {
        @include col-sm(0);
      }
    }

    .content {
      height: 100%;
      margin: 0 auto;

      @include desktop {
        @include col-lg(10);
      }

      @include tablet {
        @include col-md(5);
      }

      @include mobile {
        @include col-sm(4);
      }
    }
  }
}

.modal {
  // display: none;
  @include full-size;
  z-index: 1000;
  background-color: transparent;
  animation: slideIn 0.5s;

  mat-icon {
    float: right;
  }

  .sidebar {
    height: 100%;
    text-align: center;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
