@import "../../../styles/material/theme";

.confirm-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .confirm-actions {
    justify-content: space-around;
  }
}
