<mat-toolbar>
  <mat-icon
    fontIcon="menu"
    color="primary"
    class="mr-2"
    [(ngModel)]="showModal"
    ngDefaultControl
    (click)="onClick()"
  ></mat-icon>
  <a
    routerLink="{{ isAuthenticated ? 'books' : 'auth' }}"
    class="header-title mat-headline-1"
    >Book Management</a
  >
  <div class="header-actions">
    <a
      routerLink="auth"
      *ngIf="!isAuthenticated"
      mat-flat-button
      color="primary"
      >Login</a
    >
    <a
      routerLink="/"
      *ngIf="isAuthenticated"
      mat-flat-button
      color="primary"
      (click)="onLogout()"
      >Log out</a
    >
  </div>
</mat-toolbar>
