@use "@angular/material" as mat;
@import "../../styles/material/theme";

.container {
  width: fit-content;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
  font-size: 24px;
}

.auth-form {
  min-width: 9.375rem;
  max-width: 31.25rem;
  width: 100%;
}

.input-field {
  width: 100%;
}

.button-row button {
  width: 100%;
}

.create-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.alert-danger {
  background-color: red;
}

.alert {
  padding: 20px;
  color: white;
  margin-top: -10px;
  text-align: center;
}
