<div class="container">
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
  <div *ngIf="isLoading" style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <mat-card *ngIf="!isLoading">
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form
        class="auth-form"
        [formGroup]="loginForm"
        (ngSubmit)="onLogin(loginForm)"
      >
        <mat-label class="label-input">Username</mat-label>
        <mat-form-field class="input-field mat-subtitle-2">
          <input
            matInput
            placeholder="Ex. username1"
            formControlName="username"
          />
          <mat-error *ngIf="loginForm.get('username').hasError('required')"
            >Username is <strong>required</strong></mat-error
          >
        </mat-form-field>

        <mat-label class="label-input">Password</mat-label>
        <mat-form-field class="input-field mat-subtitle-2">
          <input
            matInput
            placeholder="Ex. password1"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <mat-error *ngIf="loginForm.get('password').hasError('required')"
            >Password is <strong>required</strong></mat-error
          >
          <mat-error *ngIf="loginForm.get('password').hasError('minlength')"
            >Password must have at least
            <strong>6 characters</strong></mat-error
          >
        </mat-form-field>

        <div class="button-row">
          <button
            mat-flat-button
            color="primary"
            class="submit-btn"
            type="submit"
            [disabled]="!loginForm.valid"
          >
            Login
          </button>
        </div>

        <p class="create-acc">
          Don't have an account?<a
            mat-button
            color="primary"
            routerLink="/signup"
            >Create new account</a
          >
        </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
