<div class="row">
    <div class="col-xs-12">
        <mat-nav-list>
            <a mat-list-item routerLink="/books" routerLinkActive="list-item-active">Books</a>
            <a mat-list-item routerLink="/categories" routerLinkActive="list-item-active">Categories</a>
            <a mat-list-item routerLink="/authors" routerLinkActive="list-item-active">Authors</a>
            <a mat-list-item routerLink="/users" routerLinkActive="list-item-active">Users</a>
          </mat-nav-list> 
    </div>
</div>