@use "@angular/material" as mat;
@import "../../styles/styles/variable";
@import "../../styles/styles/typography";
@import "../../styles/styles/mixin";
@import "../../styles/styles/spacing";

.container {
  width: 100%;
  height: 100%;
  @include flex-center;

  mat-card {
    width: fit-content;

    mat-card-title {
      display: flex;
      justify-content: center;
      font-size: 24px;
    }

    .signup-form {
      max-width: 30rem;
      width: 100%;
    }

    .input-field {
      width: 100%;
    }

    .signup-btn {
      width: 100%;
    }
  }
}
