<div class="row">
  <div class="alert alert-danger" *ngIf="error">
    {{error}}
  </div>
  <div class="alert alert-success" *ngIf="signupSuccess">
    {{signupSuccess}}
  </div>
  
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <mat-card *ngIf="!isLoading">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <form class="example-form" [formGroup]="signupForm" (ngSubmit)="onSignup(signupForm)">
        <mat-label>Name</mat-label>
        <mat-form-field class="example-full-width mat-subtitle-2">
          <input matInput placeholder="Ex. username1" formControlName="name" />
          <mat-error *ngIf="signupForm.get('name').hasError('required')">Name is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-label>Username</mat-label>
        <mat-form-field class="example-full-width mat-subtitle-2">
          <input matInput placeholder="Ex. username1" formControlName="username" />
          <mat-error *ngIf="signupForm.get('username').hasError('required')">Username is <strong>required</strong></mat-error>
        </mat-form-field>

        <mat-label>Password</mat-label>
        <mat-form-field class="example-full-width mat-subtitle-2">
            <input matInput placeholder="Ex. password1" [type]="hide ? 'password' : 'text'" formControlName="password" />
            <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
            <mat-error *ngIf="password.hasError('minlength')">Password must have at least <strong>6 characters</strong></mat-error>
        </mat-form-field>
        
        <mat-label>Confirm Password</mat-label>
        <mat-form-field class="example-full-width mat-subtitle-2">
            <input matInput placeholder="Ex. password" [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" (blur)="onBlurConfirmPassword()" />
            <mat-error *ngIf="confirmPassword.hasError('required')">Please confirm your password</mat-error>
            <mat-error *ngIf="!confirmPassword.hasError('required') && confirmPassword.hasError('passwordsMatch')">Password must <strong>match</strong></mat-error>

        </mat-form-field>

        <div class="example-button-row">
          <button mat-flat-button class="signup-btn" color="primary" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
        </div> 
        
      </form>
    </mat-card-content>
  </mat-card>
</div>
