@use "@angular/material" as mat;
@import '../../material/variable';
@import '../../material/typography'; 
@import '../../material/mixin';

mat-card-title {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
  font-size: 24px;
}

.example-form {
  min-width: 9.375rem;
  max-width: 31.25rem;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

mat-error {
  color: $error-color;
}

.signup-btn {
  width: 100%;
  // @include button-style;
}
