@use "@angular/material" as mat;
@import "../../styles/styles/variable";
@import "../../styles/styles/typography";
@import "../../styles/styles/mixin";

.container {
  width: fit-content;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin: 1.25rem 0;
  font-size: 24px;
}

.signup-form {
  min-width: 9.375rem;
  max-width: 31.25rem;
  width: 100%;
}

.input-field {
  width: 100%;
}

.signup-btn {
  width: 100%;
}
