.books-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .add-btn {
    display: flex;
    justify-content: end;
    margin: 10px 15px;
  }

  app-books-list {
    height: 100%;
  }
}
