<button mat-icon-button [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" yPosition="below" xPosition="before">
  <button mat-menu-item color="primary" [routerLink]="[id, 'update']">
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button
    mat-menu-item
    color="primary"
    (click)="
      openConfirmDeleteDialog(
        'Delete category',
        'Are you sure want to delete this category?'
      )
    "
  >
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
</mat-menu>
