@import "variable";
@mixin input-style {
  font-size: 16px;
  background: transparent;
}

@mixin limit-line($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin link-style {
  color: mat.get-color-from-palette($primary);
  text-decoration: none;
  cursor: pointer;

  :hover {
    color: mat.get-color-from-palette($primary, 500);
  }
}

@mixin full-size {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

//media query mixins for each device
@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

//columns

@mixin col-lg($number) {
  $width: percentage(1 / (12 / $number));
  width: #{$width};
  flex: 0 0 #{$width};
}

@mixin col-md($number) {
  $width: percentage(1 / (6 / $number));
  width: #{$width};
  flex: 0 0 #{$width};
}

@mixin col-sm($number) {
  $width: percentage(1 / (4 / $number));
  width: #{$width};
  flex: 0 0 #{$width};
}
