@use "@angular/material" as mat;

$font-family: "Roboto";
$custom-typography: mat.define-typography-config(
  $headline-1: mat.define-typography-level(24px, 48px, 700, $letter-spacing: 0.05em, $font-family: $font-family),
  $headline-2: mat.define-typography-level(16px, 40px, 600, $letter-spacing: 0.05em, $font-family: $font-family),
  $subtitle-1: mat.define-typography-level(20px, 32px, 400, $font-family: $font-family),
  $subtitle-2: mat.define-typography-level(16px, 24px, 400, $font-family: $font-family),
  $body-1: mat.define-typography-level(12px, 16px, 400, $font-family: $font-family),
  $caption: mat.define-typography-level(14px, 16px, 400, $font-family: $font-family),
  $button: mat.define-typography-level(16px, 36px, 500, $letter-spacing: 0.05em, $font-family: $font-family),
);