// COLOR
$text-color: #000;
$primary-color: #1976d2;

//FONT SIZE
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;

.row {
  display: flex;
  width: 100%;
}

//column widths for each device
$mobile-columns: 4;
$tablet-columns: 6;
$desktop-columns: 12;

//breakpoint widths
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

//col classes for each device
@for $i from 1 through $mobile-columns {
  $width: percentage($i / $mobile-columns);
  .col-md-#{$i} {
    width: $width;
  }
}

@for $i from 1 through $tablet-columns {
  $width: percentage($i / $tablet-columns);
  .col-sm-#{$i},
  .col-md-#{$i} {
    width: $width;
  }
}

@for $i from 1 through $desktop-columns {
  $width: percentage($i / $desktop-columns);
  .col-lg-#{$i},
  .col-md-#{$i} {
    width: $width;
  }
}
