// COLOR
$text-color: #000;
$primary-color: #1976d2;

//FONT SIZE
$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;

.row {
  display: flex;
  width: 100%;
}

//column widths for each device
$mobile-columns: 4;
$tablet-columns: 6;
$desktop-columns: 12;

//breakpoint widths
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
