@import "../../../styles/styles/_mixin.scss";
@import "../../../styles/styles/spacing";

.row {
  .update-form {
    margin: 10px auto;
    @include desktop {
      @include col-lg(8);
    }

    @include tablet {
      @include col-md(4);
    }

    @include small-tablet {
      @include col-md(4);
    }

    @include mobile {
      @include col-sm(4);
    }

    mat-card {
      mat-card-title {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 24px;
      }

      .add-form {
        width: 90%;
        margin: 0 auto;

        .form-content {
          .input-field {
            width: 100%;
          }

          .inputs-small {
            display: flex;
            justify-content: space-between;

            .input-field {
              width: 100%;
            }
          }

          .actions-btn {
            display: flex;

            .submit-btn,
            .cancel-btn {
              flex: 1;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
